.pricing-container {
  justify-content: center;
  padding: 30px 40px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: calc(50% - 10px);
}
